extends ./layout/index


block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen-sobre-nosotros", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada, libero vehicula elementum mollis, urna tortor mollis elit, quis auctor odio lacus eu ante. Donec purus nunc, tristique nec urna eget, dignissim ullamcorper nulla. Donec quis tempus risuss.

                p Nunc malesuada fermentum sem vitae consequat. Phasellus mattis, dui ac interdum malesuada, libero turpis ullamcorper erat, facilisis tincidunt sem nibh id enim. Fusce id nulla id eros volutpat auctor. Nam suscipit gravida felis, vel malesuada quam fermentum nec. Aliquam eu ex quis nisi eleifend efficitur sed at dui. Proin molestie odio nec ante accumsan lobortis. Integer molestie semper ligula lobortis volutpat.

                p Nam non ultrices odio. Praesent pulvinar malesuada nulla, eu pretium turpis porttitor et. Pellentesque dignissim mi orci, nec volutpat sem volutpat in. Phasellus fringilla sed sapien et vestibulum. Vestibulum eget efficitur libero, sodales aliquam lectus. Pellentesque euismod quam in molestie dignissim. Proin commodo in nisl quis luctus. Aliquam ut blandit velit. Donec euismod fermentum lectus, at molestie lorem pharetra vitae. Cras quis accumsan orci. Morbi in suscipit dolor. Maecenas quis metus quis nisl elementum cursus.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p pharetra vitae. Cras quis accumsan orci. Morbi in suscipit dolor. Maecenas quis metus quis nisl elementum cursus.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p pharetra vitae. Cras quis accumsan orci. Morbi in suscipit dolor. Maecenas quis metus quis nisl elementum cursus.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p pharetra vitae. Cras quis accumsan orci. Morbi in suscipit dolor. Maecenas quis metus quis nisl elementum cursus.

                