
.row.testimoniales
    each testimonial in testimoniales
        .col-md-6.col-lg-4.mb 
            .card 
                .card-blody 
                    blockquote.blockquote 
                    p.mb-0 
                        | #{testimonial.mensaje}
                    footer.blockquote-footer 
                        | #{testimonial.nombre}